@use "../shared/typography" as *;
@use "../shared/colors" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: $font-primary;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: $text-primary-color;
    background-color: $white-color;
}
