@use "../shared/typography" as *;
@use "../shared/colors" as *;
@use "../shared/breakpoints" as *;
@use "../shared/spacing" as *;
@use "../shared/transitions" as *;
@use "../shared/animations" as *;

@mixin primary-button(
    $bg-color: $success-color,
    $text-color: $white-color,
    $font-family: $font-primary,
    $padding: $spacing-md $spacing-lg,
    $large-font: $font-md
) {
    background: $bg-color;
    color: $text-color;
    border: none;
    padding: $padding;
    font-size: $font-sm;
    font-family: $font-family;
    cursor: pointer;
    @include transition(filter);
    @include animation-fade-in-up;

    &:hover {
        filter: brightness(0.8);
    }

    @include min-breakpoint($breakpoint-md) {
        font-size: $large-font;
    }
}

@mixin secondary-button(
    $bg-color: $success-color,
    $text-color: $white,
    $font-family: $font-primary,
    $padding: $spacing-md $spacing-lg,
    $large-font: $font-md
) {
    background: transparent;
    border: 2px solid $bg-color;
    color: $text-color;
    padding: $padding;
    font-size: $font-sm;
    font-family: $font-family;
    cursor: pointer;
    @include transition(background);
    @include animation-fade-in-up;

    &:hover {
        background: $bg-color;
    }

    @include min-breakpoint($breakpoint-md) {
        font-size: $large-font;
    }
}
