@mixin button($bg-color, $text-color: $white) {
    background-color: $bg-color;
    color: $text-color;
    padding: $spacing-md $spacing-lg;
    border-radius: $border-radius-md;
    border: none;
    cursor: pointer;
    font-size: $font-md;
    transition: background 0.3s ease;

    &:hover {
        background-color: darken($bg-color, 10%);
    }
}
