@use "../../../design/components/buttons" as *;
@use "../../../design/shared/breakpoints" as *;
@use "../../../design/shared/colors" as *;
@use "../../../design/shared/spacing" as *;
@use "../../../design/shared/radiuses" as *;
@use "../../../design/shared/typography" as *;

.wrapper {
    display: grid;
    place-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: $gray-dark-color;

    .wrapperContainer {
        width: 100%;
        height: 100%;
        background-color: $primary-faded-color;
        padding: 0 $spacing-xl;
        display: grid;
        place-items: center;

        .form {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: $spacing-md;
            padding: $spacing-md;
            color: $text-light-color;

            .formGroup {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                row-gap: $spacing-md;
                column-gap: $spacing-sm;
                width: 100%;

                input {
                    width: 100%;
                    padding: $spacing-md;
                    border: 1px solid $gray-dark-color;
                    border-radius: $border-radius-sm;
                    font-size: $font-sm;
                    color: $text-primary-color;
                    background-color: $white-color;

                    &:focus {
                        outline: none;
                        border-color: $primary-color;
                        box-shadow: 0 0 0.2rem rgba($primary-color, 0.5);
                    }
                }
            }

            button {
                @include primary-button;
            }
        }
    }
}
