@use "../../../../styles/shared/spacing" as *;
@use "../../../../styles/shared/typography" as *;
@use "../../../../styles/shared/colors" as *;
@use "../../../../styles/shared/animations" as *;
@use "../../../../styles/shared/shadows" as *;
@use "../../../../styles/shared/breakpoints" as *;
@use "../../../../styles/shared/radiuses" as *;

.description {
    text-align: center;
    margin-bottom: $spacing-lg;
    opacity: 1 !important;
    transform: translateY(0) !important;
    animation: fade-slide-in 1s ease-in-out forwards;
}

.descriptionTitle {
    font-size: $font-lg;
    font-weight: bold;
    color: #ffffff !important;
    text-shadow: $shadow-lg;
    animation: bounce 1.5s ease-in-out infinite alternate;

    @media (min-width: $breakpoint-md) {
        font-size: $font-xl;
    }
}

.descriptionSubtitle {
    font-size: $font-sm;
    color: #eeeeee !important;
    margin-top: $spacing-sm;
    opacity: 1 !important;
    animation: fade-in 1.5s ease-in-out 0.5s forwards;

    @media (min-width: $breakpoint-md) {
        font-size: $font-md;
    }
}
