// Primary Colors
$primary-color: #007bff;
$secondary-color: #6c757d;
$success-color: #28a745;
$error-color: #dc3545;
$warning-color: #ffc107;

// Neutral Colors
$white-color: #ffffff;
$black-color: #000000;
$gray-light-color: #f8f9fa;
$gray-dark-color: #343a40;

// Text Colors
$text-primary-color: $black-color;
$text-secondary-color: $gray-dark-color;
$text-light-color: $gray-light-color;
