// Font Sizes
$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 20px;
$font-xl: 24px;
$font-xxl: 32px;

// Font Families
$font-primary: "Poppins", sans-serif;
$font-secondary: "Montserrat", sans-serif;

// Font Weights
$font-weights: (
    "light": 300,
    "regular": 400,
    "medium": 500,
    "bold": 700,
);
