@use "../../../../styles/shared/spacing" as *;
@use "../../../../styles/shared/typography" as *;
@use "../../../../styles/shared/breakpoints" as *;
@use "../../../../styles/shared/colors" as *;
@use "../../../../styles/shared/radiuses" as *;

.inputGroup {
    position: relative;

    input {
        width: 100%;
        border: $spacing-xxs solid $secondary-color;
        border-radius: $border-radius-sm;
        padding: $spacing-md;
        font-size: $font-xs;
        background: $white-color;
        transition:
            border 0.3s ease-in-out,
            transform 0.2s ease-in-out;

        &:focus {
            border-color: $primary-color;
            outline: none;
        }

        @media (min-width: $breakpoint-md) {
            padding: $spacing-md;
        }
    }

    .errorInput {
        border-color: $error-color;
    }

    .errorMessage {
        color: $error-color;
        font-size: $font-xs;
        margin-top: $spacing-xs;
    }
}
